.primary-footer {
  background-color: #000000;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.primary-footer__copyright {
  color: var(--color-secondary);
  font-size: 1rem;
}
