@import url("base.css");
@import url("primary-header.css");
@import url("primary-footer.css");

.main-content {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1220px;
  padding: 80px 200px;
  background-color: #fff;
  border-top: 8px solid #000;
}

.main-content::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  z-index: -1;
  background-color: #42c4fc;
}

.main-content__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
  row-gap: 60px;
  column-gap: 20px;
}

.article-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article-card__heading {
  font-size: 1.125rem;
  text-transform: uppercase;
}

.article-card__date,
.article-card__content,
.article-card__link {
  font-size: 1rem;
}

.article-card__date {
  margin: 10px 0;
  color: #767676;
}

.article-card__content {
  /* text-overflow: ellipsis; */
}

.article-card__link {
  margin-top: auto;
  border-bottom: 2px solid #42c4fc;
}

.article-card__link:hover,
.article-card__link:focus {
  text-decoration: none;
}